@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Source+Code+Pro&display=swap');

body {

  background-color: #202124;
}

header {

    width: 1440px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;

}

header a {

  padding-top: 10px;
  
}

header a:hover {

  opacity: 0.9;

}

header h1 {
  margin: 0 auto;
  text-align:center;
  color: #f2f5fd;

  font-family: 'Source Code Pro', monospace;
  font-size: 50px;
  font-weight: bold;
}

/* .efecto-espejo {
 -webkit-box-reflect: below -25px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.5)));
} */

main {

  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
  width: 1440px;

  border-top: 5px double #174a6b;
  padding-top: 90px;

}

main .menu-inicio {

  display: flex;
  flex-direction: column;
  align-items: center;

  height: 520px;
  width: 420px;

  border: 2px solid #148D8D;
  border-radius: 20px;

  background: linear-gradient(1deg, rgb(3, 11, 48) ,rgb(9, 29, 119)20%,rgb(213, 219, 240)70%);

} 

.menu-inicio a {
  text-decoration: none;
}

.boton-agregar-palabra, .boton-iniciar {

  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 40px;

  width: 380px;
  height: 100px;

  font-size: 38px;
  font-family: 'Kanit', sans-serif;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  background: transparent;
  color: rgb(0, 0, 0);

  border-radius: 5px;

  transition: 1s all;

}

.boton-agregar-palabra:hover, .boton-iniciar:hover {

  background-color: #0E2C40;
  transform: scale(1.03);
  color: white;

}

.imagen-ahorcado {

  display: flex;
  width: 45%;
  height: 35%;
  margin: 0 auto;
  margin-top:25px;

}

footer {

  background: linear-gradient(#202124, black);
  margin-top: 120px;
  height: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding-top: 40px;

  font-family: 'Kanit', sans-serif;

  color: white;

  
}

footer .contenido {

  width: 100%;

}

footer .autor {

  font-size: 26px;
  text-decoration: underline;
  margin-bottom: 15px;

}

footer .info-extra {

  font-size: 20px;

}


footer .logo-github {

  height: 50px;
  transform: scale(0.17);
  transition: 1s all;

}

footer .logo-github:hover {

  transform: scale(0.18);
  opacity: 80%;

}

.incorrecto {

  color: red !important;

}

.correcto {

  color: greenyellow !important;

}
@media screen and (max-width:480px) {


  header {

    width: 390px;
    padding-left: 15px;
    padding-top: 10px;

  }

  .efecto-espejo {

    -webkit-box-reflect:unset;

  }

  header h1 {

    text-shadow: 0 3px 3px rgb(83, 83, 83);

  }

  main {

    width: 390px;

  }

  main .menu-inicio {

    width: 90%;
    margin: 0 auto;
    height: 400px;
    padding-bottom: 15px;

  }

  .boton-agregar-palabra, .boton-iniciar {

    height: 75px;
    width: 80%;
    font-size: 24px;
    padding: 0; 
    border: none; 
    background: none;

    border: 2px solid #0E2C40;


  }

  .imagen-ahorcado {

    width: 45%;


  }

  footer {

    margin-top: 80px;
    width: 100%;

  }

  
}